h1, h2, h3 {
    font-family: 'Permanent Marker', serif;
    color: #b53389;
}
p {
    font-family: 'Barlow', sans-serif;
    color: #565656;
    font-size: 20px;
}
body {
    background-color: #a7dfa7;
    max-width: 800px;
    margin: auto;
}
footer{
    background-color: #FCD299;
    display: flex; 
    font-family: 'Barlow', sans-serif;
    height: 40px;
    padding: 20px;
}
nav, ul {
    background-color: #FCD299;
    font-family: 'Barlow', sans-serif;
    display: flex; 
    list-style-type: none;
    flex-direction: column;
}
nav ul li { 
    flex: 1 1 100%; 
    padding: 15px;
    display: block;
}
header {
    padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}
header img {
	width: 80px;
	height: auto;
}
