h1, h2, h3 {
    font-family: 'Permanent Marker', serif;
    color: #b53389;
}
p {
    font-family: 'Barlow', sans-serif;
    color: #565656;
    font-size: 20px;
}
body {
    background-color: #a7dfa7;
    margin: 0; 
    padding: 0; 
}
footer{
    background-color: #FCD299;
    display: flex; 
    font-family: 'Barlow', sans-serif;
    height: 40px;
    padding: 20px;
}
nav, ul {
    background-color: #FCD299;
    font-family: 'Barlow', sans-serif;
    display: flex; 
    list-style-type: none;
    flex-direction: column;
}
nav ul li { 
    flex: 1 1 100%; 
    padding: 15px;
    display: block;
}
header {
    padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    max-width: 100%;
}
header img {
	width: 80px;
	height: auto;
}
nav {
    margin: 0 auto;
    background-color: #FCD299;
}
.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}
#weather-summary {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 6;
    grid-gap: 1em;
}