h1 {
    color: #ffb6c1;
    font-family: 'Permanent Marker', serif;
}
h2 {
    font-family: 'Permanent Marker', serif;
}
p {
    font-family: 'Barlow', sans-serif;
    color: #565656;
}
ol {
    font-family: 'Barlow', sans-serif;
    color: #565656;
}