h1 {
    color: #b53389;
    font-family: 'Permanent Marker', serif;
    font-size: 60px;
    background-color: #FCD299;
}
header {
    display: flex; 
}
h2 {
    font-family: 'Permanent Marker', serif;
    font-size: 30px;
}
p {
    font-family: 'Barlow', sans-serif;
    color: #565656;
    font-size: 20px;
}
ol {
    font-family: 'Barlow', sans-serif;
    color: #565656;
}
nav {
    background-color: #FCD299;
    font-size: 20px;
}
nav ul { 
    display: flex; 
    list-style-type: none;
    flex-direction: column;
}
nav ul li { 
    flex: 1 1 100%; 
    padding: 15px;
    display: block;
}
footer{
    background-color: #FCD299;
    display: flex; 
    font-family: 'Barlow', sans-serif;
    height: 40px;
    padding: 20px;
}
body {
    background-color: #a7dfa7;
}
a {
    font-family: 'Barlow', sans-serif;
}
#content {
    max-width: 960px;
    margin: 0 auto;

}